<configuration debug="true">

    <!-- ************************** Setting the context name ************************** -->

    <!--
        Every logger is attached to a logger context. By default, the logger context is called "default". However, you
        can set a different name with the help of the <contextName> configuration directive. Note that once set, the
        logger context name cannot be changed. Setting the context name is a simple and straightforward method in order
        to distinguish between multiple applications logging to the same target.
    -->
    <contextName>myAppName</contextName>



    <!-- ************************** File inclusion ************************** -->

    <!-- the target file MUST have its elements nested inside an <included> element -->
    <include resource="logback-demo-variable-substitution.xml" />
    <include resource="logback-demo-smtp-appender.xml" />



    <!-- ************************** general ************************** -->

    <!-- <appender> element
         name  - required
         class - required
    -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${USER_HOME}/myApp.log</file>
        <encoder>
            <pattern>%date %contextName %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- <logger> element
         name       - required

         level      - optional
                    possible values are: TRACE | DEBUG | INFO | WARN | ERROR | ALL | OFF | INHERITED

         additivity - optional
                    possible values are: true | false -->
    <logger name="org.swordess.toy.javamisc.slf4j.logback.chapters.configuration" level="INFO" />

    <!-- Strictly speaking, the level attribute is not necessary since -->
    <!-- the level of the root level is set to DEBUG by default.       -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE" />
    </root>

</configuration>